<main
    cdkDropList
    class="flex flex-col min-h-screen"
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)">

    <app-navbar
        [class.pointer-events-none]="isFileDropping()"
    />

    <div class="flex grow-1 flex-col border border-slate-500/10 mx-4 mb-4 rounded-2xl bg-zinc-900">
        <div class="flex flex-row justify-between gap-2 items-center py-3 px-4 rounded-t-2xl text-white/70 text-xs">
            <ng-content select="[slot=header]"/>
        </div>

        <div class="relative flex grow-1 rounded-2xl bg-black border-t border-white/15">
            <div class="container mx-auto p-5">
                <app-notification/>
                <ng-content/>
            </div>

            <section
                [class.opacity-0]="!isFileDropping()"
                [class.opacity-100]="isFileDropping()"
                [class.duration-500]="isFileDropping()"
                [class.pointer-events-none]="!isFileDropping()"
                class="absolute opacity-0 top-0 left-0 z-50 bg-indigo-500 overflow-hidden w-full h-full ease-in-out rounded-xl">
                <div class="container mx-auto h-full px-4 flex flex-col justify-center items-center text-center">
                    <h1 class="text-3xl font-extrabold mb-3 font-serif">Drop your files here</h1>
                    <p class="text-lg">Your files are never uploaded to any server</p>
                </div>
            </section>
        </div>
    </div>
</main>
