.horizontal-scroll {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */

    &::-webkit-scrollbar {
        display: none;  /* Older Safari and Chromium */
    }
}

.progress-bar {
    width: auto;
    height: auto;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80%),
        conic-gradient(oklch(51.1% 0.262 276.966) var(--progress), rgba(255, 255, 255, 0.15) 0);
}
