@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    font-size: 14px;
}

.font-serif {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
