server {
    listen 80;
    listen [::]:80;

    server_name aircloud.sh www.aircloud.sh turn.aircloud.sh;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
