<app-layout>
    <section class="py-3 h-full">
        @if (fileManager.files().length > 0) {
            <div class="flex flex-col w-full grid gap-y-3">
                <div class="flex flex-row items-center gap-x-4">
                    @for (peer of rtc.pcs() | keyvalue; track peer.key) {
                        <app-peer
                            [key]="peer.key"
                            [name]="peer.value.name"
                            [device]="peer.value.device"
                            [isLoading]="isLoading(peer.key)"
                            [progress]="getProgress(peer.key)"
                            (click)="sendFilesToPeer(peer.key)"
                        />
                    }
                </div>

                <div class="flex justify-between items-center">
                    <div class="flex flex-row items-center">
                        <h1 class="text-xl font-serif me-2">
                            Added {{ fileManager.files().length || 0 }} {{ fileManager.files().length > 1 ? 'files' : 'file' }}
                        </h1>

                        <span class="text-xs cursor-pointer" (click)="modalRemoveFiles()?.open()">
                            Clear all
                        </span>
                    </div>

                    <button
                        (click)="openFileExplorer()"
                        class="rounded-xl bg-indigo-500 px-2.5 py-1.5 text-sm text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                        Add files
                    </button>
                </div>

                @for (file of fileManager.files(); track $index) {
                    <div
                        (click)="selectFile()"
                        class="w-full bg-white text-black py-4 px-5 rounded-xl flex flex-row justify-between items-center">
                        <div (click)="removeFile($index)"
                             class="me-3 bg-rose-100 hover:bg-rose-200 transition rounded-full p-2 cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                            </svg>
                        </div>

                        <div class="grow-1 me-3">
                            <div>
                                {{ file.name }}
                            </div>
                            <div class="mt-0.5 text-xs">
                                {{ (file.size / 1000 / 1000).toFixed(1) }} MB &bull; {{ file.type }}
                            </div>
                        </div>
                    </div>
                }
            </div>
        } @else {
            <div
                class="flex justify-center items-center flex-col h-full text-center xl:w-[40%] lg:w-[60%] mx-auto inset-shadow-sm">
                <div class="flex flex-row items-center mb-4 gap-x-4">
                    @for (peer of rtc.pcs() | keyvalue; track peer.key) {
                        <app-peer
                            [key]="peer.key"
                            [name]="peer.value.name"
                            [device]="peer.value.device"
                        />
                    }
                </div>

                <div class="px-10 w-full">
                    <div class="flex flex-row rounded-t-xl font-semibold text-xs w-full overflow-hidden">
                        <div
                            class="ps-4 py-2 -mb-1 grow-1 cursor-pointer bg-zinc-100 text-black hover:bg-indigo-500 hover:text-white hover:mb-0 transition-all">
                            Connect with peer
                        </div>
                    </div>
                </div>

                <div class="flex flex-col w-full bg-white py-15 px-10 text-black text-center rounded-2xl shadow-xl cursor-pointer" (click)="openFileExplorer()">
                    <h1 class="text-3xl font-extrabold mb-2 font-serif">
                        Drop your files or click here
                    </h1>

                    <p class="mb-5">
                        You can send multiple files securely through peer-to-peer connection
                    </p>

                    <div class="flex items-center justify-center gap-x-6">
                        <button
                            class="cursor-pointer rounded-xl bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 transition">
                            Add files
                        </button>
                    </div>
                </div>

                <p class="mt-2 text-white/50 text-xs w-[80%]">
                    Your files are shared directly peer-to-peer — we <strong>never</strong> upload, store, or track your
                    files. We respect your privacy and GDPR.
                </p>
            </div>
        }

        <input
            #addFileRef
            type="file"
            [hidden]="true"
            [multiple]="true"
            (change)="addFiles($event)"
        >
    </section>

    <app-modal #modalRemoveFilesRef (onSubmit)="onRemoveFiles()" [isWarning]="true">
        <h3 class="text-xl font-semibold text-gray-900 font-serif">
            Are you sure about this?
        </h3>
        <div class="mt-3">
            <p class="text-sm text-zinc-600">
                Are you sure you want to remove all files. Don't worry files wasn't uploaded to server!
            </p>
        </div>
    </app-modal>
</app-layout>
